*
{
	margin: 0;
	font-family: "Proxima:", sans-serif;

}


											/* HOME PAGE */
.name 
{
	font-size: 2em;
	padding-left: 6%;
}

.ux 
{
	padding-left: 0;
	font-weight: normal;
	font-size: 1em;
}

.pages
{
	margin-left: 20%;
	margin-top: 10%;
}

img.airbnb
{
	margin-top: 14%;
	margin-left: 27%;
	width: 60%;
	height: auto; 
}

img.bus
{
	margin-top: 2%;
	margin-left: 27%;
	width: 60%;
	height: auto; 
}

img.flat
{
	margin-top: 2%;
	margin-left: 27%;
	margin-bottom: 5%;
	width: 60%;
	height: auto; 
}

img.habits
{
	margin-top: 2%;
	margin-left: 27%;
	width: 60%;
	height: auto; 
}




											/*  ABOUT PAGE */
.erin
{
	font-family: "Proxima:", sans-serif;
	padding-top: 14%;
	padding-left: 55%;
}

.about 
{
	font-family: "Proxima:", sans-serif;
	font-weight: normal;
	font-style: normal;
	padding-left: 55%;
	padding-right: 10%;
	font-size: 1em;
	line-height: 1.25em;
	font-color: grey;
}
.insta
{
	font-family: "Proxima:", sans-serif;
	font-weight: normal;
	font-style: normal;
	padding-left: 55%;
	padding-right: 10%;
	font-size: 0.5em;
	font-color: grey;
}

.links
{
	bottom: 0%;
	position: fixed;
	padding-bottom: 2%; 
	padding-left: 50%;
	font-family: "Proxima:", sans-serif;
	font-size: 1em; 
	font-color: solid #75afb3;
} 

img.me 
{
	width: 30%;
	height: auto;
	float: left;
	padding-top: 14%;
	padding-left: 22%; 
}

a:link
{
	color: solid #75afb3;
	text-decoration: underline solid;
}

a:hover
{
	color: #75afb3;
	text-decoration: underline solid #75afb3;
}

a:visited
{
	color: #75afb3;
	text-decoration: underline solid #75afb3;
}

											/* Project PAGEs */
.title
{
	padding-left: 27%;
	text-decoration: none;
	font-family: "Proxima:", sans-serif;
	font-size: 2em;
	padding-top: 10%;
}

.background-info
{
	text-decoration: none;
	display: block;
	line-height: 1.5em;
	font-size: 1em;
	padding-left: 27%;
	padding-right: 20%;
	padding-top: 2%;
}

img.first
{
	padding-left: 27%;
	width: 60%;
	height: auto;
	padding-top: 2%;
}

img.second
{
	width: 40%;
	height: auto;
	padding-left: 30%;

}

.subtitle
{
	padding-left: 27%;
	font-family: "Proxima:", sans-serif;
	line-height: 1.25em;
	display: block;
	font-size: 1em; 
	padding-top: 3%;

}

.information
{
	padding-left: 27%;
	padding-right: 20%;
	padding-top: 2%;
	text-decoration: none;
	font-family: "Proxima:", sans-serif;
	display: block;
	font-size: 1em; 
	line-height: 1.25em;
	padding-bottom: 2%;
}

.bullets
{
	padding-left: 29%;
	padding-right: 20%;
	text-decoration: none;
	font-family: "Proxima:", sans-serif;
	line-height: 1.25em;
	display: block;
	font-size: 1em; 

}



